.star {
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 150px 100px;
	border-bottom-color: red;
	margin: auto;
	position: relative;
}
.star::before {
	content: "";
	width: 0;
	height: 0;
	border: solid transparent;
	border-width: 150px 100px;
	border-bottom-color: inherit;
	transform: rotateX(180deg) translate(-50%,-15.6%);
	position: absolute;
	left: -50%;
}